
/* Global styles */
* {margin:0; padding:0;}
html {background:url('imgs/bg.png') repeat left top;}
body {width:960px; margin:0 auto; padding:60px 0 0; font-family:Verdana,Arial,sans; font-size:14px;}
a {color:#2C5987; text-decoration:none;}

/* Controller UL */
#navWrap {position:absolute; left:0; top:0; width:100%; background:#8E9E35;}
#controllers {overflow:hidden; width:960px; margin:0 auto; color:#fff; text-align:center;}
#controllers li {position:relative; display:inline; float:left; margin:0 5px 0 0; list-style:none;}
#controllers a {display:block; margin:7px 0 0; padding:10px 20px; font-size:12px; color:#fff;}
#controllers a:hover {background:rgba(0,0,0,.3); -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
#controllers .current a {background:url('imgs/bg.png') repeat left top; color:#333; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
#controllers li:first-child {font-size:13px; margin:15px 10px 0;}
#controllers .shortcut {position:absolute; right:-5px; top:0; padding:3px 3px 4px 3px; color:#fafafa; font-size:12px; background:#333; -webkit-border-radius:10px; -moz-border-radius:10px;}

/* Main Heading & Patron Bottle Animation */
h1 {position:relative; height:100px; margin:20px 0; padding:0 0 0 200px;}
h1 img {position:absolute; left:0; top:-20px; width:189px;}
h1 span {display:block; padding:8px 0 0; font:normal normal normal 50px Verdana, sans-serif;}
h1 .motto {padding:0; font:normal 13px 'Trebuchet MS', sans-serif; font-weight:700; text-transform:uppercase; color:#E14601;}

/* API Call Form Styles */
#input {float:left; width:220px;}
#inputForm label {display:block; margin:8px 0 3px;}
#searchOptions {display:none;}
input {width:200px; padding:3px; border:2px solid #999; -moz-border-radius:5px; -webkit-border-radius:5px;}
#input select {margin:5px 0 0;}
.comma {border-color:#558ABE;}
.single {border-color:#A4B344;}
.complex {border-color:#992812;}
#apiKey {width:210px;}
#controller {width:210px; margin:8px 0 0;}
#submit {padding:5px; margin:8px 0; width:35px;}

/* Form Key */
#formKey {margin:0 0 20px;}
#formKey input {margin:0 0 5px;}

/* API URL and JSON Object */
#output {font-size:20px; padding:10px; margin:10px 0; width:936px;}
#request {display:none; width:700px; float:right; margin:0 0 10px; padding:10px; background:#fff; -moz-border-radius:5px; -webkit-border-radius:5px;}
#request pre {font-family:Verdana;}
#recents {clear:both; margin:10px 0 10px 20px; font-size:12px;}

/* Footer Styles */
#footer {clear:both; margin:0 0 10px; padding:10px 0 0; color:#333; border-top:2px solid #999;}
.meta {margin:0 0 10px; font-family:Georgia; font-style:italic;}
